/*
*  @file: Default css for the module. This can be overridden in your theme's css.
*/

.annotated-body p,
.annotated-body table,
.annotated-body ul,
.annotated-body ol{
  cursor: pointer;
}

.annotated-page .field--name-body p:hover,
.annotated-page .field--name-body table:hover,
.annotated-page .field--name-body ul:hover,
.annotated-page .field--name-body ol:hover{
  background-color: #faebd7;
}

.annotate-this{
  background: none repeat scroll 0 0 #EEEEEE;
  border: 1px solid #BCBCBC;
  border-radius: 5px 5px 5px 5px;
  height: 50px;
  display: block;
  margin: 3px;
  padding: 5px;
  position: relative;
  top: -40px;
  text-align: center;
  width: 100px;
  z-index: 100;
}

.annotate-corner{
  height: 10px;
  width: 12px;
  background: url('../img/bubble-point.png');
  margin: auto;
  z-index: 101;
  position: relative;
  top: 3px;
}

.annotate-this,
.annotate-corner{
  margin-bottom: -31px;
}

.annotation-section{
  border: 5px solid #DDDDDD;
  padding: 10px;
  margin-bottom: 10px;
}

.annotation-section > h3{
  cursor: pointer;
  padding-right: 30px;
}

.annotation-section-minimized{
  height: 50px;
  overflow: hidden;
}

.annotation-section-maximized{
  overflow: visible;
  height: auto;
}

.annotation-section-minimized > h3{
  background: url('../img/section-maximize.png') no-repeat center right;
}

.annotation-section-maximized > h3{
  background: url('../img/section-minimize.png') no-repeat center right;
}

.annotation-profile{
  margin: 15px 0px;
}

.annotation-profile .author-info,
.annotation-profile .user-picture{
  vertical-align: top;
  display: inline-block;
}

.annotation-profile .user-picture{
  margin-right: 10px;
}

.annotation-profile .author-info > span{
  display: block;
  margin-bottom: 5px;
}

.annotation{
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px solid #DDDDDD;
}

.annotation:first-child{
  border-top: none;
}

#annotated-header-container{
  padding: 30px;
  margin: 15px;
  background: #FFFFFF;
  border-radius: 3px;
  border: 1px solid #DDDDDD;
  position: fixed;
  top: 10px;
  left: 0;
  z-index: 100;
}

#close-current-annotation{
  background: url('../img/annotation-container-close-icon.png') no-repeat scroll center center #DDDDDD;
  border: medium none;
  border-radius: 20px 20px 20px 20px;
  float: right;
  height: 32px;
  position: relative;
  text-indent: -9999px;
  width: 32px;
  top: -45px;
  left: 45px;
}

#annotated-header-wrapper{
  margin-top: 20px;
  max-height: 100px;
  overflow-y: scroll;
}

#annotated-header-container #container-label{
  font-size: 24px;
}