/*
*  @file: Default css for the module's backend. This can be overridden in your theme's css.
*/

#edit-body-research-annotations .form-item {
  height: 90px;
}
#edit-body-research-annotations label {
  max-height: 80px;
  overflow-y: scroll;
  display: block;
  margin: 10px 0px 10px 25px;
  padding: 5px;
  border: 1px solid #DDDDDD;
}